@{
    ViewData["Title"] = "Check your childcare entitlement";
}

<h1>Check your childcare entitlement</h1>

<p>
    Use this service to find out what childcare support you may be eligible for.
</p>

<a href="#" class="govuk-button">Start now</a>