@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> Shared
@model LocationViewModel

@section BeforeContent {
    <govuk-back-link asp-controller="Home" asp-action="Start">
        @Shared["Button_Back"]
    </govuk-back-link>
}

<form method="post" novalidate>
    <cec-enum-radios asp-for="Country" />

    <govuk-button type="submit">
        @Shared["Button_Continue"]
    </govuk-button>
</form>
