@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h1 class="govuk-heading-l">@Localizer["Title"]</h1>

<p class="govuk-body">
    @Localizer["Info"]
</p>

<p class="govuk-body">
    @Localizer["Info2"]
</p>

<govuk-button asp-action="WhereDoYouLive">
    @Localizer["Button_StartAgain"]
</govuk-button>