version: 2

updates:
  - package-ecosystem: "nuget"
    directory: "/src"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore(deps): "

  - package-ecosystem: "github-actions"
    directory: "/" # For GHA '/' actually correlates to '.github/workflows'
    schedule:
      interval: "weekly"