# Build outputs
/artifacts/
docs/_site/
docs/node_modules/
*.feature.cs

# Mac
.DS_Store

# Windows
Thumbs.db

# Visual Studio
.vs/
*.suo
*.user

# Rider
*.sln.iml
.idea/

# Visual Studio Code
.vscode

# Crash log files
crash.log
crash.*.log

# Local environment variables
.env
*.env
appsettings.Local.json

### Terraform ###
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc
# Terraform local state
terraform.tfstate*
.terraform.lock.hcl

