@using Microsoft.AspNetCore.Mvc.Localization
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> Shared
@inject IViewLocalizer Localizer
@model ChildIsBornViewModel

@section BeforeContent {
    <govuk-back-link asp-controller="Introduction" asp-action="ChildName">
        @Shared["Button_Back"]
    </govuk-back-link>
}

<form method="post" novalidate>
    
    <cec-enum-radios for="ChildIsBorn" />

    <govuk-button type="submit">
        @Shared["Button_Continue"]
    </govuk-button>
</form>