@using AccessingChildcareEntitlementChecker.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            @Localizer["Page not found"]
        </h1>
    
        <p class="govuk-body">
            @Localizer["If you typed the web address, check it is correct."]
        </p>

        <p class="govuk-body">
            @Localizer["If you pasted the web address, check you copied the entire address."]
        </p>
    </div>
</div>
