@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> Shared
@model HasPartnerViewModel

@section BeforeContent {
    <govuk-back-link asp-controller="Home" asp-action="Location">
        @Shared["Button_Back"]
    </govuk-back-link>
}

<form method="post" novalidate>
    <cec-enum-radios asp-for="HasPartner" />

    <govuk-button type="submit">
        @Shared["Button_Continue"]
    </govuk-button>
</form>
