@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> Shared
@model UserAgeViewModel

@section BeforeContent {
    <govuk-back-link asp-controller="User" asp-action="ChildDetails">
        @Shared["Button_Back"]
    </govuk-back-link>
}

<form method="post" novalidate>
    <cec-enum-radios asp-for="UserAge" />

    <govuk-button type="submit">
        @Shared["Button_Continue"]
    </govuk-button>
</form>
