@using AccessingChildcareEntitlementChecker.Web.Models.User
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> Shared
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@model WorkStatusViewModel

@{
    ViewData["Title"] = Html.DisplayNameFor(model => model.WorkStatus);
}

@section BeforeContent {
    <govuk-back-link href="@Model.BackLink">
        @Shared["Button_Back"]
    </govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
            <input type="hidden" asp-for="ReturnTo" />
            <cec-enum-checkboxes for="WorkStatus" />

            <govuk-button type="submit">
                @Shared["Button_Continue"]
            </govuk-button>
        </form>
    </div>
</div>
