@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    var errors = ViewData.ModelState
        .Where(kvp => kvp.Value!.Errors.Count > 0)
        .SelectMany(kvp => kvp.Value!.Errors.Select(e => new
        {
            Href = string.IsNullOrEmpty(kvp.Key) ? null : $"#{kvp.Key}",
            Message = e.ErrorMessage
        }))
        .ToList();
}

@if (errors.Count > 0)
{
    <div class="govuk-error-summary" data-module="govuk-error-summary" data-govuk-error-summary-init>
        <div role="alert">
            <h2 class="govuk-error-summary__title">
                @Localizer["There is a problem"]
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    @foreach (var error in errors)
                    {
                        <li>
                            @if (error.Href is not null)
                            {
                                <a href="@error.Href">@error.Message</a>
                            }
                            else
                            {
                                @error.Message
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
}
