
@model AccessingChildcareEntitlementChecker.Web.Models.NavigationLinkModel
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> Shared

@if (Model != null)
{
    <a class="govuk-back-link govuk-!-display-none-print"
       href="@Model.Href">
        @Shared["Button_Back"]
    </a>
}