@using Microsoft.AspNetCore.Mvc.Localization
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> Shared
@inject IViewLocalizer Localizer
@model ChildRelationshipViewModel

@section BeforeContent {
    <govuk-back-link asp-controller="BornChildDetails" asp-action="ChildBirthDate">
        @Shared["Button_Back"]
    </govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            @Localizer["Title", Model.ChildName]
        </h1>
    </div>
</div>
