@using Microsoft.AspNetCore.Mvc.Localization
@using AccessingChildcareEntitlementChecker.Web.Models.BornChildDetails
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> Shared
@inject IViewLocalizer Localizer
@model ChildSupportViewModel

@section BeforeContent {
    <govuk-back-link asp-controller="BornChildDetails" asp-action="ChildRelationship">
        @Shared["Button_Back"]
    </govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            @Localizer["Does {0} get any of the following support?", Model.ChildName]
        </h1>
    </div>
</div>
